<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sidebarlayout}">
<head>
	<!-- CSS and JS for table fixed header -->
   <!-- <link rel="stylesheet" th:href="@{/css/table-fixed-header.css}"> -->
<style>
/* .table-fixed thead {
	width: 97%;
}

.table-fixed tbody {
	height: 230px;
	overflow-y: auto;
	width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td,
	.table-fixed th {
	display: block;
}

.table-fixed tbody td, .table-fixed thead>tr>th {
	float: left;
	border-bottom-width: 0;
} */
</style>
</head>

<body>
	<div th:fragment="plot2d">
		 <img th:src="@{/images/telecom_input.png}" class="img-thumbnail" alt="Cinque Terre" width="640" height="480">
	</div>
	
	<div th:fragment="plot2d_result">
		 <img th:src="@{/images/cluster_res_3.png}" class="img-thumbnail" alt="Cinque Terre" width="640" height="480">
	</div>
	
	
	<div th:fragment="table">
		<div class="container">
			<div class="col-sm-4 form-group">
					<label for="iters">Number of rows to show</label>
					<input type="number" class="form-control" id="components" value="5"	min="0">
				</div>
			
			<div class="container pre-scrollable form-group">
			
			<table class="table table-bordered "> <!-- table-fixed -->
			
				<thead class="head">
					<tr>
						<th>State</th>
						<th>Account length</th>
						<th>Area code</th>
						<th>International plan</th>
						<th>Voice mail plan</th>
						<th>Number vmail messages</th>
						<th>Total day minutes</th>
						<th>Total day calls</th>
						<th>Total day charge</th>
						<th>Total eve minutes</th>
						<th>Total eve calls</th>
						<th>Total eve charge</th>
						<th>Total night minutes</th>
						<th>Total night calls</th>
						<th>Total night charge</th>
						<th>Total intl minutes</th>
						<th>Total intl calls</th>
						<th>Total intl charge</th>
						<th>Customer service calls</th>
						<th>Churn</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>KS</td>
						<td>128</td>
						<td>415</td>
						<td>No</td>
						<td>Yes</td>
						<td>25</td>
						<td>265.1</td>
						<td>110</td>
						<td>45.07</td>
						<td>197.4</td>
						<td>99</td>
						<td>16.78</td>
						<td>244.7</td>
						<td>91</td>
						<td>11.01</td>
						<td>10.0</td>
						<td>3</td>
						<td>2.7</td>
						<td>1</td>
						<td>False</td>
					</tr>
					<tr>
						<td>OH</td>
						<td>107</td>
						<td>415</td>
						<td>No</td>
						<td>Yes</td>
						<td>26</td>
						<td>161.6</td>
						<td>123</td>
						<td>27.47</td>
						<td>195.5</td>
						<td>103</td>
						<td>16.62</td>
						<td>254.4</td>
						<td>103</td>
						<td>11.45</td>
						<td>13.7</td>
						<td>3</td>
						<td>3.7</td>
						<td>1</td>
						<td>False</td>
					</tr>
					<tr>
						<td >NJ</td>
						<td >137</td>
						<td >415</td>
						<td >No</td>
						<td >No</td>
						<td >0</td>
						<td >243.4</td>
						<td >114</td>
						<td >41.38</td>
						<td >121.2</td>
						<td >110</td>
						<td >10.3</td>
						<td >162.6</td>
						<td >104</td>
						<td >7.32</td>
						<td >12.2</td>
						<td >5</td>
						<td >3.29</td>
						<td >0</td>
						<td >False</td>
					</tr>
					<tr>
						<td >OH</td>
						<td >84</td>
						<td >408</td>
						<td >Yes</td>
						<td >No</td>
						<td >0</td>
						<td >299.4</td>
						<td>71</td>
						<td >50.9</td>
						<td >61.9</td>
						<td>88</td>
						<td >5.26</td>
						<td >196.9</td>
						<td>89</td>
						<td >8.86</td>
						<td >6.6</td>
						<td>7</td>
						<td >1.78</td>
						<td>2</td>
						<td >False</td>
					</tr>
					<tr>
						<td >OK</td>
						<td>75</td>
						<td >415</td>
						<td >Yes</td>
						<td >No</td>
						<td >0</td>
						<td >166.7</td>
						<td>113</td>
						<td >28.34</td>
						<td >148.3</td>
						<td>122</td>
						<td >12.61</td>
						<td >186.9</td>
						<td>121</td>
						<td >8.41</td>
						<td >10.1</td>
						<td>3</td>
						<td >2.73</td>
						<td>3</td>
						<td >False</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
<body>
</html>