<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sidebarlayout}">

<head>
	<title>New algorithm: data source</title>
	<!-- Custom styles for this template -->
	<link href="#" th:href="@{/css/simple-sidebar.css}" rel="stylesheet">
	<link th:href="@{/webjars/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css}" rel="stylesheet">
	<script th:src="@{/webjars/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js}"></script>
	
	
</head>
<body>
	<!-- Insert page content into the layouts/sidebarpage.html -->
	<th:block layout:fragment="sidebar_pagecontent">
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
		    <li><a href="#">Private</a></li>
		    <li><a href="#">Pictures</a></li>
		    <li class="active">Vacation</li>        
		</ul>
		<form method="post"
			th:object="${hasHeader}"
			enctype="multipart/form-data" 
			th:action="${dataUploadURL}"
			>
			<!-- th:action="${sourceUpload}" -->
			
		 	<h3>Select source data file</h3>

			<div class="btn btn-default btn-file " data-text="Select file">
					<input type="file" class="btn" th:id="fileSelect" name="file">
			</div>
				<input type="submit" class="btn btn-primary" value="Upload" th:id="upload-button" disabled/>
				<div class="checkbox">
					<label>
						<input type="checkbox" th:id="hasHeader_id"	th:field="*{hasHeader}"	th:value="*{hasHeader}" disabled/>
						Dataset has header
					</label>
				</div> 
			<!-- <input type="submit" class="btn btn-primary" value="Upload" name="_eventId_upload" th:id="upload-button" disabled/> -->
			<script>
			$(function() {
				var fileSelect = $("input[type='file']"), submitButt = $("#upload-button");
				var ckbox = $("#hasHeader_id");
				fileSelect.change(function() {
					if(fileSelect.val()) {
						submitButt.attr("disabled", false);
						ckbox.attr("disabled", false)
					} else {
						submitButt.attr("disabled", true);
						ckbox.attr("disabled", true)
					}
				});
			});
			</script>
		</form>
			
		<div th:if="${metaData != null}" class="form-group">
			<!-- I wonder, if variable exists... -->
				
			<!-- <div th:insert="fragments/datapreview :: dataPreview(${previewData})"></div> -->
			
			<form method="post"
			th:action="${dataAttributesURL}"
			th:object="${metaData}"
			>
				<!-- <span th:inline="*{project}"></span> -->
				<div class="control-group">
					<input type="submit" class="btn btn-primary" value="Submit" th:id="attr-button"/>
					
					<div class="checkbox">
						<input checked 
							id="checkAll"
							data-toggle="toggle" 
							data-onstyle="info" 
							data-offstyle="default" 
							data-on="Select all" 
							data-off="Deselect all" 
							data-size="small"
							type="checkbox">
						
					</div>
				</div>
				<div th:value="*{id}" th:field="${metaData.id}"></div>
				
				<div class="table-responsive">
					<table class="table table-bordered "> <!-- table-fixed -->
						<thead class="head">
						<!-- 	<th:block th:each="item : ${preview.getHeaderItems()}">		 -->	
							<tr>
								<th:block th:each="name, stat : ${T(evm.dmc.web.service.DataPreviewService).listLine(preview.header, preview.delimiter)}">
									<th>
										<span th:text=${name}></span>
										<br>
											<select class="form-control"
												th:id="'type_' + ${stat.index}"		
												
											>
											<!-- th:field="*{attributes['__name__'].type}" -->
												<option th:each="type: ${T(evm.dmc.core.api.AttributeType).values()}"
													th:value="*{attributes['__${name}__'].type}"
													th:text="${type}"
													th:selected="${type == metaData.attributes['__${name}__'].type}"
												>
											</select>
										<br>
											<input type="checkbox"
												th:id="'chkbx_' + ${stat.index}"
												th:field="*{attributes['__${name}__'].checked}" 
												th:value="${metaData.attributes['__${name}__'].checked}"/> 
											<!-- <input type="checkbox" th:field="*{items}" th:value="item"/> -->
										<br>
											<input type="number"																							
												th:id="'num_' + ${stat.index}"
												th:field="*{attributes['__${name}__'].multiplier}" 
												th:value="${metaData.attributes['__${name}__'].multiplier}" 
												step="0.1" 
												style="width:55px;" />
									</th>
								</th:block>
							</tr>
							<!-- <th:block th:each="item : ${previewData.getHeaderItems()}">
								<th>
									 <input type="number" step="0.1" value="1" style="width:55px;" />  
								</th>
							</th:block> -->
						</thead>
						<tbody>
							<tr th:each="line, iter : ${preview.data}">
								<th:block th:each="attr : ${T(evm.dmc.web.service.DataPreviewService).listLine(line, preview.delimiter)}">
									<td th:text=${attr}>Data item</td>
								</th:block>
							</tr>
						</tbody>
					</table>
							
				</div>
				<script>
					$("#checkAll").change(function () {
						
					    $("input[id^='chkbx_']").prop('checked', $(this).prop("checked"));
					    
					});
					
					// That selector matches all spans that have an id attribute and it starts
					// with chkbx
					$("input[id^='chkbx_']").change(function () {
						var idchk = $(this)[0].id;
						var elfind = "#"+idchk.replace("chkbx","num");
						$(elfind).prop('hidden', !$(this).prop("checked"));
					});
					
				</script>
			</form>
				
		</div>

			
		 	<!-- <ul class="pager">
				<li><a class="btn btn-info" role="button" th:href="@{${flowExecutionUrl}(_eventId='prev')}" >Previous</a></li>
				<li class="btn btn-danger"><a th:href="@{${flowExecutionUrl}(_eventId='cancel')}" >Cancel</a></li>
				<li><a th:href="@{${flowExecutionUrl}(_eventId='next')}">Next</a></li>
			</ul> -->
			
			<!-- <a class="btn btn-warning" role="button" th:href="@{${flowExecutionUrl}(_eventId='cancel')}" >Cancel</a>
			<div class="btn-group">
				<a class="btn btn-info disabled" role="button" th:href="@{${flowExecutionUrl}(_eventId='prev')}" >Previous</a>
				
				<a class="btn btn-info" role="button" th:href="@{${flowExecutionUrl}(_eventId='next')}">Next</a>
			</div> -->
			
			<a class="btn btn-warning" role="button" th:href="@{${flowExecutionUrl}(_eventId='cancel')}" >Cancel</a>
			<div class="btn-group">
				<a class="btn btn-info disabled" role="button" th:href="@{${flowExecutionUrl}(_eventId='prev')}" >Previous</a>
				
				<a class="btn btn-info" role="button" th:href="@{${flowExecutionUrl}(_eventId='next')}">Next</a>
			</div>
		
	</th:block>

	<!-- Insert bar content into the layouts/sidebarpage.html -->
	<th:block layout:fragment="sidebar_barcontent">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">Algorithm flow</li>
			<li><a href="#">File source</a></li>
			
		</ul>
	</th:block>
</body>

</html>