<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sidebarlayout}">

<head>
	<title>Choose function</title>
	<!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/simple-sidebar.css}" rel="stylesheet">


<body>
	<!-- Insert page content into the layouts/sidebarpage.html -->
	<th:block layout:fragment="sidebar_pagecontent">
		<h1>Select function:</h1>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group">
					<label for="selfun">(Framework: function)</label> 
						<select class="form-control" id="function">
						<option value="weka_stand">Weka: Standartize</option>
						<option value="weka_norm">Weka: Normalize</option>
						<option value="weka_pca" selected>Weka: PCA</option>
						<option value="weka_kmeans" >Weka: KMeansClustering</option>
						
					</select>
				</div>
					<button type="submit" class="btn btn-info" name="selectfun" value="" th:text="Select">Select</button>
			</div>
			
		</div>
		<hr>
		<form>
			<div id="sidebar" th:insert="fragments/funoptions/func_opts :: pca_opts">
		 	</div>
		</form>
	</th:block>

	<!-- Insert bar content into the layouts/sidebarpage.html -->
	<th:block layout:fragment="sidebar_barcontent">
		<ul class="sidebar-nav">
			<li class="sidebar-brand"><a href="#"> Start Bootstrap </a></li>
			<li><a href="@{/UID/project/12/newalg?step=datasource}">Link #1</a></li>
			<li><a href="#">Link #2</a></li>
			<li><a href="#">Link #3</a></li>
			<li><a href="#">Link #4</a></li>
			<li><a href="#">Link #5</a></li>
			<li><a href="#">Link #6</a></li>
			<li><a href="#">Link #7</a></li>
		</ul>
	</th:block>
</body>

</html>