<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">
</head>

<body>
<div th:fragment="sidebar">
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div layout:fragment="sidebar_barcontent">
                <p>Content goes here...</p>
            </div>
        </div>
        <!-- Page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-info" id="menu-toggle">--> List all steps</a>
                <div layout:fragment="sidebar_pagecontent">
                    <p>Content goes here...</p>
                </div>

            </div>
        </div>
    </div>

    <!-- /#wrapper -->

    <!-- <script src="#" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
   <script src="#" th:href="@{/webjars/popper/popper.min.js}"></script>
   <script src="#" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.js}"></script>
-->
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            if ($(this).text() == "--> List all steps") {
                $(this).text("<-- Hide steps");
            } else {
                $(this).text("--> List all ateps");
            }
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</div>
</body>

</html>
