<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
	<title>Welcome to Data Mining combiner</title>
</head>
<body>

<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
    <div class="hero-unit">
        <h1>Hello World</h1>
        
        <p th:text="'The time on the server is ' + ${serverTime} + '.'"></p>
		<P th:text="'Locale is ' + ${locale}"></P>
		<p>
		
		</p>
        <p>
            <a href="#" th:href="@{properties}" class="btn btn-large btn-success">System Properties</a>
        </p>
    </div>
    <div>
        <h1>Spring Actuator</h1>
        <p>
            Actuator endpoints allow you to monitor and interact with your application.
            Spring Boot includes a number of built-in endpoints and you can also add your own.
        </p>
        
        <a href="sidebar">Sidebar page</a> <br>
        <a th:href="${@viewsService.hello}">Click to get Hello</a> <br>
        <a th:href="${@viewsService.hellorest}">Click to get Hello from REST</a> <br>
        <a th:href="${@viewsService.hellothyme}">Click to get Hello on Thymeleaf</a> <br>
        <a th:href="${@viewsService.welcome}">Click to get Welcome</a> <br>
        <a th:href="${@viewsService.showtable}">Show table</a> <br>
        <a th:href="${@viewsService.listbeans}">List Beans</a> <br>
        <a th:href="@{/UID/project/12/createalg}">Create Algorithm</a> <br>
        <a th:href="@{/UID/project/newproject}">Create New Project</a> <br>
        <a th:href="@{/UID/project/12/main}">Open project</a> <br>
        <a th:href="@{/UID/project/12/newalg?step=datasource}">Data source</a> <br>
        <a th:href="@{/UID/project/12/newalg?step=function}">Choose function</a> <br>
       

    </div>
    
</th:block>
	
</body>
</html>
