<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
  	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
  	<link th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
<div th:fragment="regsignForm(active)" th:with="isRegister=${#strings.equals(active,'register') or #strings.isEmpty(active)}">
	
	<ul class="nav nav-pills">
	  <li class="active" th:class="${isRegister}? active: ''"><a data-toggle="tab" href="#register">Register</a></li>
	  <li th:class="${not isRegister}? active: ''"><a data-toggle="tab" href="#signin">Sign In</a></li>
	</ul>
	
	<div class="tab-content">
		<div id="register" class="tab-pane fade in active" 
			th:class="${isRegister}? 'tab-pane fade in active': 'tab-pane fade'">
			<div th:insert="register :: registerForm"></div>
		</div>
		<div id="signin" class="tab-pane fade" 
			th:class="${not isRegister}? 'tab-pane fade in active': 'tab-pane fade'">
			<div th:insert="signin :: signinForm"></div>
		</div>
	</div>
</div>
</div>
</body>
</html>