target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Pythons
*.pyc
/.pydevproject

/Data/result
_*.csv
*.png
*.PNG
/hs_err_pid4423.log
/log.log
/libs/jep.old