<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Hello Spring Boot!</title>
    <meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
  	<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
  	<link th:href="@{/css/core.css}" rel="stylesheet" media="screen" />

</head>
<body>
<!-- Header -->
<div th:replace="testing/fragments/header :: header">
</div>
<div class="container-fluid">
	<div class="container">
	    <div layout:fragment="content">
	        <p>Content goes here...</p>
	    </div>
	</div>
 	<hr>
    <div class="row">
        <div class="col-sm-12">
		<footer>
	       	<div th:replace="testing/fragments/footer :: footer"></div>
	    </footer>
	    </div>
	</div>
</div>
</body>
</html>
