<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sidebarlayout}">

<body>
<!-- 	<div th:fragment="register_link(type)"> reg_text or reg_image_text
		<a id="register" class="btn btn-success btn-lg">
			<div th:replace="${type}">Register</div>
		</a>
	</div> -->
	
	<div th:fragment="reg_button">
		<a id="register" class="btn btn-success btn-lg">Register</a>
		<!-- <div th:insert="~{:: register_modal}"></div> -->
	</div>
	
	<div th:fragment="reg_link">
		<a id="register" class="btn navbar-btn" ><span class="glyphicon glyphicon-user"></span>Register</a>
		<!-- <div th:insert="~{:: register_modal}"></div> -->
	</div>
	
	<!-- SignIn modal window -->
	<div th:fragment="signin_modal(id, request, title)">
		<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
			/* Fill in modal with content loaded with Ajax */
			$(document).ready(function () {
			    $("#".concat(/*[[${id}]]*/)).on('click', function (e) {
			        $("#commModal_".concat(/*[[${id}]]*/)).modal();
			        $("#commModalBody_".concat(/*[[${id}]]*/)).text("");
			        $.ajax({
			            url: /*[[${request}]]*/"error",
			            cache: false
			        }).done(function (html) {
			            $("#commModalBody_".concat(/*[[${id}]]*/)).append(html);
			        });
			    })
			});
		/*]]>*/
		</script>
		
		<!-- Common Modal -->
		<div class="modal fade" th:id="'commModal_'+${id}" > <!-- tabindex="-1" role="dialog" aria-labelledby="regModalLabel"  aria-hidden="true" -->
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                <!-- <h4 class="modal-title" th:id="'commModalLabel__${id}__'" th:text="${title}">Registration</h4> -->
		                <h4 class="modal-title">Register or Sign In</h4>
		            </div>
		            <div class="modal-body" th:id="'commModalBody_'+${id}">Lorem ipsum</div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	
	<!-- Common modal window -->
	<div th:fragment="common_modal(id, page, title)">
		<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
			/* Fill in modal with content loaded with Ajax */
			$(document).ready(function () {
			    $("#".concat(/*[[${id}]]*/)).on('click', function (e) {
			        $("#commModal_".concat(/*[[${id}]]*/)).modal();
			        $("#commModalBody_".concat(/*[[${id}]]*/)).text("");
			        $.ajax({
			            url: /*[[${page}]]*/"error",
			            cache: false
			        }).done(function (html) {
			            $("#commModalBody_".concat(/*[[${id}]]*/)).append(html);
			        });
			    })
			});
		/*]]>*/
		</script>
		
		<!-- Common Modal -->
		<div class="modal fade" th:id="'commModal_'+${id}" > <!-- tabindex="-1" role="dialog" aria-labelledby="regModalLabel"  aria-hidden="true" -->
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                <!-- <h4 class="modal-title" th:id="'commModalLabel__${id}__'" th:text="${title}">Registration</h4> -->
		                <h4 class="modal-title">Please Sign In</h4>
		            </div>
		            <div class="modal-body" th:id="'commModalBody_'+${id}">Lorem ipsum</div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		            </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	
	<!-- DataSource file selector -->
	<div th:fragment="fileSelector(id, dataSetProps, uploadURL)">
		<form method="post" 
			th:object="${dataSetProps}"
			enctype="multipart/form-data" 
			th:action="${uploadURL}">
			<!-- th:action="${sourceUpload}" -->

			<h3>Select source data file</h3>

			<div class="btn btn-default btn-file " data-text="Select file">
				<input th:id="fileSelect" type="file" class="btn"  name="file">
			</div>
			
			<div class="row justify-content-center">
				<div class="col-sm-6 ">
					<input th:id="dataName_id" 
						type="text" 
						class="form-control"
						placeholder="Data set name" 
						th:field="*{name}"
						disabled />
				</div>
				<div class="col-sm-6 ">
					<div class="checkbox">
						<label> 
							<input type="checkbox" th:id="hasHeader_id"
								th:field="*{hasHeader}" th:value="*{hasHeader}" disabled />
							Dataset	has header
						</label>
					</div>
				</div>
				<input type="submit" class="btn btn-primary" value="Upload"
					th:id="upload-button" disabled />
				<script>
					$(function() {
						var fileSelect = $("input[type='file']");
						var submitButt = $("#upload-button");
						var ckbox = $("#hasHeader_id");
						var datasetNameField = $("#dataName_id");
						
						fileSelect.change(function() {
							if(fileSelect.val()) {
								var fileName = $('#fileSelect')[0].files[0].name
								
								submitButt.attr("disabled", false);
								ckbox.attr("disabled", false);
								datasetNameField.val(fileName);
								datasetNameField.attr("disabled", false);
							} else {
								submitButt.attr("disabled", true);
								ckbox.attr("disabled", true)
								datasetNameField.attr("disabled", true);
							}
						});
					});
			</script>
			</div>
			<!-- <input type="submit" class="btn btn-primary" value="Upload" name="_eventId_upload" th:id="upload-button" disabled/> -->
			
		</form>
	</div>
<body>
</html>