<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
      
<head>
	<!-- <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"> -->
  	<!-- <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script> -->
  	<!-- <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script> -->
  	<!-- <link th:href="@{/css/core.css}" rel="stylesheet" media="screen" /> -->
</head>

<body>
	<!-- Preview data using DataPreview instance -->
	<div th:id="preview_id" th:fragment="dataPreview(metaData, preview, actionURL, showCheckboxes)"
		th:with="dataPreviewService=${T(evm.dmc.web.service.DataPreviewService)}">
		<h3>
			Data set: <span th:text="${metaData.name}"></span>
		</h3>
		<form
			th:id="previewForm_id"
			method="post" 
			th:action="${actionURL}"
			th:object="${metaData}">
			<!-- <span th:inline="*{project}"></span> -->
			<div class="control-group" >
				<div class="row">
					<!-- <div th:id="seldesel_id" class="checkbox col-sm-4" > --> <!-- th:if="${showCheckboxes} == true" -->
					<div class="col-lg-2" th:if="${showCheckboxes} == true">
						<input checked id="checkAll" data-toggle="toggle" 
							data-onstyle="info" data-offstyle="default" data-on="Select all"
							data-off="Deselect all" data-size="small" type="checkbox">
						<label for="checkAll">Check All</label>
					</div>
					<div class="col-lg-8">
					<input type="submit" class="btn btn-primary col-sm-2" value="Apply changes"
						th:id="attr-button" />
					</div>
				</div>
				<div id="row" class="row">
				</div>
			</div>
			
			<input type="text" name="key" th:field="*{name}" th:value="${metaData.name}" hidden=true/>

			<div class="table-responsive">
				<table class="table table-striped table-bordered table-condensed table-responsive">
					<!-- table-fixed -->
					<thead class="head">
						<!-- 	<th:block th:each="item : ${preview.getHeaderItems()}">		 -->
						<tr class="align-top"> <!-- for Bootstrap 4 -->
							<th:block
								th:each="name, stat : ${dataPreviewService.listLine(preview.header, preview.delimiter)}">
								<th>
									<span th:text=${name} style="width: 30%"></span>
									<input type="text" name="name" 
										th:value="${metaData.attributes['__${name}__'].name}" 
										th:field="*{attributes['__${name}__'].name}"  
										hidden=true/>
									<br>
									<div th:if="${showCheckboxes} == true">
										<input type="checkbox"
											th:id="'chkbx_' + ${stat.index}"
											th:field="*{attributes['__${name}__'].checked}"
											th:value="${metaData.attributes['__${name}__'].checked}" 
										/> <!-- <input type="checkbox" th:field="*{items}" th:value="item"/> -->
										<label th:for="'chkbx_' + ${stat.index}">Use feature</label>
									</div>
									<div th:id="'type_grp_' + ${stat.index}">
										<select
											class="form-control" 
												th:id="'type_' + ${stat.index}"
												th:field="*{attributes['__${name}__'].type}">
											<option
												th:each="type: ${T(evm.dmc.core.api.AttributeType).values()}"
												th:value="${type}"
												th:text="${type}"
												th:selected="${type == metaData.attributes['__${name}__'].type}">
										</select>
										<br>
									</div>
									
									<div th:if="${showCheckboxes} == true">
										<div th:id="'mul_grp_' + ${stat.index}">
											<label>Multiplier:</label>
											<input type="number" 
												th:id="'num_' + ${stat.index}"
												th:field="*{attributes['__${name}__'].multiplier}"
												th:value="${metaData.attributes['__${name}__'].multiplier}"
												step="0.1" style="width: 55px;" />
										</div>
									</div>
								</th>
							</th:block>
						</tr>
					</thead>
					<tbody>
						<tr th:each="line, iter : ${preview.data}">
							<th:block
								th:each="attr : ${dataPreviewService.listLine(line, preview.delimiter)}">
								<td th:text=${attr}>Data item</td>
							</th:block>
						</tr>
					</tbody>
				</table>

			</div>
			<script th:src="@{/js/preview.js}">
					/* $("#checkAll").change(function () {
						
					    $("input[id^='chkbx_']").prop('checked', $(this).prop("checked"));
					    $("input[id^='chkbx_']").change()
					    
					}); */
					
					// That selector matches all spans that have an id attribute and it starts
					// with chkbx
					/* $("input[id^='chkbx_']").change(function () {
						var idchk = $(this)[0].id;
						var multiplier_element = "#" + idchk.replace("chkbx_","mul_grp_");
						var datatype_element = "#" + idchk.replace("chkbx_","type_grp_");
						
						$(multiplier_element).prop('hidden', !$(this).prop("checked"));
						$(datatype_element).prop('hidden', !$(this).prop("checked"));
						
					}); */
					
				</script>
		</form>
	</div><body>
</html>