<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
	<div th:fragment="hello_descripion" th:align="center">
		<section class="description">
			<p>
				<strong>DataMiningCombiner</strong> is a modern application for easy attaching your mind
				to Data Mining :)
			</p>

			<p>
				&lt Some description &gt
			</p>

			<p>
				&lt Detailed description &gt
			</p>
		</section>

	</div>
</body>
</html>