<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
</head>
<body>
	<div th:fragment="footer" class="footer">
		<div class="navbar-light navbar-fixed-bottom navbar-default" >
			<!-- class="pull-right"> -->
			<div class="navbar-header">
				<div class="container">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<h5>
								<small> <a href="mailto:demidchuk.aleksey@gmail.com"
									rel="publisher"> Mail to Aleksey Demidchuk: <span
										class="glyphicon glyphicon-envelope"></span>
								</a>
								</small>
							</h5>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

