<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container-fluid">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="#">
	            	 <img th:src="@{/images/logo.png}"  style="max-width:100px; margin-top: -15px;" class="img-rounded" alt="DMc Web" width="50" height="50"> 
				</a>
	        </div>
	        <!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li th:classappend="${module == 'home' ? 'active' : ''}">
						<a th:href="@{/}">Home</a>
					</li>
					<li th:classappend="${module == 'about' ? 'active' : ''}">
						<a th:href="${@requestPath.about}">About</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="/register" th:href="${@requestPath.register}"><span class="glyphicon glyphicon-user"></span>Register</a></li> -->
					<!-- <li th:insert="fragments/register_modal :: reg_header"></li> -->
					<!-- <li><a href="#myModal" data-toggle="modal" data-target="#myModal">Log-in</a></li> -->
					<!-- <li th:insert="~{fragments/register_modal :: reg_link}"></li> -->
					
					<!-- <li><a id="header_reg" href="register" data-target="#register"><span class="glyphicon glyphicon-user"></span>Register</a></li> -->
					<li><a href="#" id="header_register" ><span class="glyphicon glyphicon-user"></span>Register</a></li>
					<li><a href="#" id="header_signin"><span class="glyphicon glyphicon-log-in"></span>Sign In</a></li>
				</ul>
			</div>
			
   </div>
   
</nav>



</body>
</html>
