<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css">
        .sidebar-nav {
            padding: 9px 0;
        }
     </style>
</head>
<body>
	 
	<div th:fragment="left">
	    <div class="well sidebar-nav span3">
	        <ul class="nav nav-list">
	            <li class="nav-header">Navigation could go here</li>
	            <li><a href="http://www.gopivotal.com/">Pivotal, Inc</a></li>
	            <li><a href="http://www.springsource.org/spring-xd">Spring XD</a></li>
	            <li><a href="http://spring.io">Spring</a></li>
	        </ul>
	    </div>
	</div>
	
</body>
</html>