<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{testing/layouts/sidebarlayout}">

<head>
    <title>New algorithm: data source</title>
    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

</head>
<body>
<form>
    <!-- Insert page content into the layouts/sidebarpage.html -->
    <th:block layout:fragment="sidebar_pagecontent">
        <div th:insert="testing/fragments/funoptions/func_opts :: dst_opts">
        </div>
        <ul class="pager">
            <li><a th:href="@{/testing/UID/project/12/newalg?step=function_pca}">Previous</a></li>
            <li><a th:href="@{/testing/UID/project/12/viewalg}">Finish</a></li>
        </ul>
    </th:block>
</form>


<!-- Insert bar content into the layouts/sidebarpage.html -->
<th:block layout:fragment="sidebar_barcontent">
    <ul class="sidebar-nav">
        <!-- <li class="sidebar-brand"><a href="#"> Start Bootstrap </a></li> -->
        <li class="sidebar-brand">Algorithm flow</li>
        <li><a th:href="@{/testing/UID/project/12/newalg?step=function_datapreview2}">File source</a></li>
        <li><a th:href="@{/testing/UID/project/12/newalg?step=function_kmeans}">KMeans</a></li>
        <li><a th:href="@{/testing/UID/project/12/newalg?step=function_pca}">PCA</a></li>

    </ul>
</th:block>
</body>

</html>