<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8" />
	<title>Getting Started: Serving Web Content</title>
	<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<p th:text="'Hello, ' + ${name} + '!'" />
	<p th:text="#{message.helloworld}"/>
	
	<div class="container">
		<h1>Bootstrap Modal</h1>
		<!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" id="btnId">Open
			Modal</button>

		<!-- Bootstrap Modal -->
		<div class="modal fade" id="modalId" role="dialog">
			<div class="modal-dialog">

				<!-- Bootstrap Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Header</h4>
					</div>
					<div class="modal-body">
						<p id="greetingId"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>    
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->
	<script src="/jquery/jquery-3.2.1.min.js"></script>    
	<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/getrequest.js"></script>
</body>
</html>