<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Algorithm</title>
    <!-- <script th:src="@{/js/bootstrap-confirmation.min.js}"></script> -->
</head>
<body>

<th:block layout:fragment="content">
	<h3>
			Algorithm: <span th:text="${algorithm.name}"></span>
	</h3>
	<ul class="nav nav-pills">
	    <li class="active"><a data-toggle="pill" href="#datasource">Source</a></li>
	    <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
	    <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
	    <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
  	</ul>
	<div class="tab-content">
		<div id="datasource" class="tab-pane fade in active">
			<div th:insert="project/datasourcesList :: datasourcesListSelectable">
			</div>
		</div>
		
	</div>
</th:block>
 
</body>
</html>