<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      >

<head>
    <title>DataSources List</title>
    <!-- <script th:src="@{/js/bootstrap-confirmation.min.js}"></script> -->
</head>
<body>
<!-- Insert content into the layouts/layout.html -->
<!-- <th:block th:if="${#fields.hasErrors('${newProject.*}') or errorMessage != null}"
   	   	th:with="errMsg= ${#strings.isEmpty(errorMessage)} ? 'Form contains errors. Please try again.' : ${errorMessage}">
    	
        <div th:replace="fragments/alert :: alert (type='danger', message=${errMsg})">Alert</div>
</th:block> -->
<th:block layout:fragment="content">
	<div th:fragment="datasourcesList">
		<!-- <div class="col-sm-6 text-center bg-info"> -->
			<div class="row">
				<div id="dataList"  
					th:insert="fragments/deletable_list :: list('data', 'Data sets',
												 ${@requestPath.projDelAlgorithm},
												 ${backBean}, ${dataSet}, ${algBasePath})">
				</div>
			</div>
			<div class="row">
				<form method="post"
					th:object="${hasHeader}"
					enctype="multipart/form-data" 
					th:action="${sourceUploadURI}"
					>
					<!-- th:action="${sourceUpload}" -->
						
				 	<h3>Select source data file</h3>
			
					<div class="btn btn-default btn-file " data-text="Select file">
							<input type="file" class="btn" th:id="fileSelect" name="file">
					</div>
					<input type="submit" class="btn btn-primary" value="Upload" th:id="upload-button" disabled/>
					<div class="checkbox">
						<label>
							<input type="checkbox" th:id="hasHeader_id"	th:field="*{hasHeader}"	th:value="*{hasHeader}" disabled/>
								Dataset has header
						</label>
					</div> 
					<!-- <input type="submit" class="btn btn-primary" value="Upload" name="_eventId_upload" th:id="upload-button" disabled/> -->
					<script>
					$(function() {
						var fileSelect = $("input[type='file']"), submitButt = $("#upload-button");
						var ckbox = $("#hasHeader_id");
						fileSelect.change(function() {
							if(fileSelect.val()) {
								submitButt.attr("disabled", false);
								ckbox.attr("disabled", false)
							} else {
								submitButt.attr("disabled", true);
								ckbox.attr("disabled", true)
							}
						});
					});
					</script>
				</form>
			</div>
		<!-- </div> -->
	</div>
</th:block>

</body>
</html>