<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      >

<head>
    <title>DataSources List</title>
    <!-- <script th:src="@{/js/bootstrap-confirmation.min.js}"></script> -->
</head>
<body>
<!-- Insert content into the layouts/layout.html -->
<!-- <th:block th:if="${#fields.hasErrors('${newProject.*}') or errorMessage != null}"
   	   	th:with="errMsg= ${#strings.isEmpty(errorMessage)} ? 'Form contains errors. Please try again.' : ${errorMessage}">
    	
        <div th:replace="fragments/alert :: alert (type='danger', message=${errMsg})">Alert</div>
</th:block> -->
<th:block layout:fragment="content">
	<div th:fragment="datasourcesList">
		<!-- <div class="col-sm-6 text-center bg-info"> -->
			<div class="row">
				<div id="dataList"  
					th:insert="fragments/deletable_list :: list('data', 'Data sets',
												 ${@requestPath.projDelAlgorithm},
												 ${backBean}, ${dataSet}, ${dataBaseURL})">
				</div>
			</div>
			<div class="row">
				<div id="fileSource"
					th:insert="fragments/control_elements :: fileSelector('file_id', 
												${dataSetProps},
												${T(evm.dmc.web.controllers.project.DatasetController).URL_SetSource})">
				</div>
			</div>
		<!-- </div> -->
	</div>
</th:block>

</body>
</html>