<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Project </title>
</head>
<body>

<th:block layout:fragment="content">
<h3>
	Project: <span th:text="${currentProject.name}">Project Name</span>
</h3>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 text-center bg-success">
			<div id="algList"  
				th:insert="fragments/deletable_list :: list('alg', 'Algorithms',
											 ${@requestPath.projDelAlgorithm},
											 ${backBean}, ${algorithmsSet}, ${algBasePath})">
			</div>
			<!-- <div class="form-group">
			<form method="post" th:action="${@requestPath.projAssignAlgorithm}"
				th:object="${newAlgorithm}">

				<div class="col-sm-4">
					<label for="newName" class="control-label">Add new	algorithm</label>
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('name')}">
						<strong>Important!</strong> 
						<span class="help-block"
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
							Incorrect algorithm name
						</span>
					</div>
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="New algorithm name" th:field="*{name}" />
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Add</button>
						</span>
					</div>
				</div>
			</form>
			</div> -->
		</div>
		<div class="col-sm-6 text-center bg-info">
			<div id="dataList"  
				th:insert="fragments/deletable_list :: list('data', 'Data sets',
											 ${@requestPath.projDelAlgorithm},
											 ${backBean}, ${dataSet}, ${algBasePath})">
			</div>
		</div>
	</div>
</div>	
</th:block>
 
</body>
</html>